:root{
  --roboto-font : "Roboto", sans-serif;
  --baloo-font : "Baloo 2", cursive;
  --orange-clr : #ed6956;
  --yellow-clr : #fbbd4c;
  --pink-clr : #f3a9b0 ;
  --blue-clr : #91adc6;
  --mint-clr : #97c0c0;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  background-color: #fff;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  box-shadow: 0 8px 30px rgba(0,0,0,0.05);
  font-family: var(--baloo-font);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  max-width: 1400px;
  margin: auto;
}

.margin-div{
  margin-bottom: 8rem;
}

.logo {
  font-family: var(--baloo-font);
  font-weight: 800;
  font-size: 3rem; 
  background: linear-gradient(135deg,var(--orange-clr), var(--blue-clr), var(--pink-clr), var(--mint-clr));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1) rotate(-2deg);
  text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}


.nav-links {
  display: flex;
  gap: 28px;
  align-items: center;
}

.nav-links a,
.dropdown button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--baloo-font);
  font-weight: 400;
}
.nav-links button{
  font-size: 16px;
  cursor: pointer;
  color: black;
  text-transform: uppercase;
  font-family: var(--baloo-font);
}

.nav-links a:hover,
.nav-links button:hover {
  color: var(--orange-clr);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 250px;
  box-shadow: 0 20px 40px rgba(0,0,0,.15);
  border-radius: 10px;
  border: 1px solid #4d5765;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: .3s ease;
}

.dropdown.show .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu p {
  padding: 6px 18px;
  cursor: pointer;
}

.dropdown-menu p:hover {
  color: var(--orange-clr);
}

.hamburger-btn {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.hero-section {
  padding: 2rem 5rem;
  position: relative;
  overflow: hidden;
  max-width: 1400px;
  margin: auto;
  margin-top: 14rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: center;
  gap: 60px;
}

.hero-content h1 {
  font-size: 52px;
  line-height: 1.2;
  font-family: var(--baloo-font);
}

.hero-content h1 span {
  color: var(--orange-clr);
}

.hero-content p {
  margin: 20px 0 30px;
  max-width: 480px;
  font-family: var(--roboto-font);
  line-height: 1.7;
  color:#4d5765;
  font-weight: 300;
}

.hero-buttons {
  display: flex;
  gap: 16px;
}

.primary-btn {
  background: var(--orange-clr);
  color: white;
  padding: 14px 26px;
  border-radius: 8px;
  border: none;
  font-family: var(--baloo-font);
  font-size: 16px;
  transition: color 0.3s ease;
}


.primary-btn {
  position: relative;
  overflow: hidden;
  background: var(--orange-clr);
  color: white;
  padding: 14px 26px;
  border-radius: 8px;
  border: none;
  font-family: var(--baloo-font);
  font-size: 16px;
  cursor: pointer;
  z-index: 0;
  transition: color 0.3s ease; 
}

.primary-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;      
  height: 300%;
  background: var(--blue-clr); 
  transform: translate(-50%, -50%) scale(0);
  border-radius: 8px;
  z-index: -1;
  transition: transform 2s ease;
}

.primary-btn:hover::before {
  transform: translate(-50%, -50%) scale(1); 
}

.primary-btn:hover {
  color: white; 
}

.secondary-btn {
  position: relative;
  overflow: hidden;
  background: var(--mint-clr);
  color: white;
  padding: 14px 26px;
  border-radius: 8px;
  border: none;
  font-family: var(--baloo-font);
  font-size: 16px;
  cursor: pointer;
  z-index: 0;
  transition: color 2s ease; 
}

.secondary-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;       
  height: 300%;
  background: var(--blue-clr);
  transform: translate(-50%, -50%) scale(0);
  border-radius: 8px;
  z-index: -1;
  transition: transform 0.5s ease;
}

.secondary-btn:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.secondary-btn:hover {
  color: white; 
}

.hero-image-wrapper {
  position: relative;
  width: 100%;
}

.hero-image {
  width: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.uneven-circle {
  position: absolute;
  inset: -20px;
  border-radius: 55% 45% 60% 40%;
  background: var(--orange-clr);
  z-index: 1;
}

.cloud {
  position: absolute;
  opacity: 0.65;
  z-index: 1;
}

.cloud-1 {
  width: 160px;
  top: 12%;
  left: -150px;
}

.cloud-2 {
  width: 200px;
  bottom: 12%;
  right: -80px;
}

.star {
  position: absolute;
  z-index: 2; 
  opacity: 0.85;
  pointer-events: none;
}

.star-1 { top: 38%; left:0%; }
.star-2 { top: 5%; left: 50%; }
.star-3 { top: 15%; left: 0%; }
.star-4 { top: 25%; left: 30%; }
.star-5 { top: 35%; left: 50%; }



.info-section {
  padding: 2rem 5rem;
}

.info-wrapper{
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 8rem;
}

.info-wrapper.reverse {
  flex-direction: row-reverse;
}

.info-image {
  flex: 1;
}

.info-image img {
  width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: 16px;
  object-fit: cover;
}

.info-content {
  flex: 1;
}

.section-subheading {
  display: block;
  color: var(--blue-clr);
  font-weight: 600;
  font-family: var(--baloo-font);
  font-size: 18px;
  margin-bottom: 0;
}

.section-heading {
  font-size: 36px;
 color: var(--orange-clr);
  font-family: var(--baloo-font);
  line-height: 1;
  margin-top: 0;
}

.section-text {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 14px;
  color: #4d5765;
  font-family: var(--roboto-font);
  font-weight: 300;
  text-align: justify;
}

.info-link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 16px;
  font-weight: 600;
  color: #fff;
  background-color: var(--mint-clr);
  text-decoration: none;
  padding: 14px 26px;
  font-size: 16px;
  font-family: var(--baloo-font);
  border-radius: 8px;
  cursor: pointer;
  z-index: 0;
  transition: color 1s ease;
}

.info-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: var(--blue-clr); 
  transform: translate(-50%, -50%) scale(0);
  border-radius: 8px;
  z-index: -1;
  transition: transform 0.5s ease;
}

.info-link:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.info-link:hover {
  color: #fff; 
}

.approach-section {
  position: relative;
  padding: 90px 6% 180px;
  background: linear-gradient(
    180deg,
    #f6faff 0%,
    #eef4fb 60%,
    #e9f1f8 100%
  );
  overflow: hidden;
  margin-top: 8rem;
}

.approach-section::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 280px;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ffffff' d='M0,120 C80,60 160,60 240,120 C320,180 400,180 480,120 C560,60 640,60 720,120 C800,180 880,180 960,120 C1040,60 1120,60 1200,120 C1280,180 1360,180 1440,120 L1440,180 L0,180 Z'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.approach-section .section-text{
  text-align: center;
}

.approach-inner {
  max-width: 1400px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 2;
  padding: 2rem 5rem;
}

.approach-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.approach-card {
  background: #fff;
  padding: 20px 20px 30px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
}

.approach-card:hover {
  transform: translateY(-8px);
}

.approach-img {
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 20px;
}

.approach-img img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  display: block;
}

.approach-card h3 {
  font-family: var(--baloo-font);
  font-size: 22px;
  color: var(--orange-clr);
}

.approach-card p {
  font-family: var(--roboto-font);
  font-size: 16px;
  color: #4d5765;
  line-height: 1.7;
  font-weight: 300;
}

.footer-section {
  position: relative;
  background: #0f2742;
  color: #ffffff;
  margin-top: 8rem;
}

.footer-section::before{
  content: "";
  position: absolute;
  top: -250px;
  left: 0;
  width: 100%;
  height: 280px;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%230f2742' d='M0,130 C60,80 150,150 240,120 C330,90 400,160 500,110 C600,60 700,150 800,120 C900,90 1000,160 1100,100 C1200,40 1300,150 1440,120 L1440,180 L0,180 Z'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.footer-container {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.3fr 1fr;
  gap: 60px;
  padding: 2rem 5rem;
  max-width: 1400px;
  margin: auto;
}

.footer-logo {
  height: 60px;
  margin-bottom: 20px;
}

.footer-about p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
  font-family: var(--roboto-font);
}

.footer-social {
  display: flex;
  gap: 12px;
}

.footer-social a {
  width: 36px;
  height: 36px;
  background: #0f2742;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: white;
}

.footer-col h3 {
  font-size: 22px;
  text-transform: uppercase;
  color: var(--orange-clr);
  margin-bottom: 16px;
  position: relative;
  font-family: var(--baloo-font);
}

.footer-col h3::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #ffffff;
  margin-top: 8px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: var(--roboto-font);
}

.footer-col li:hover{
  color: var(--orange-clr);
}

.footer-contact li {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-bottom: 14px;
  font-family: var(--roboto-font);
}

.footer-contact svg {
  font-size: 20px;
}

.footer-contact .location-icon {
  font-size: 36px;       
}

.footer-contact span{
  line-height: 1.5;
}

.footer-col iframe {
  width: 100%;
  height: 220px;
  border-radius: 12px;
  border: none;
}

.footer-bottom {
  position: relative;
  background: var(--orange-clr);
  text-align: center;
  padding: 24px 10px;
  z-index: 2;
  margin-top: 5rem;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  top: -80px; 
  left: 0;
  width: 100%;
  height: 100px;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ed6956' d='M0,80 C60,40 140,90 240,60 C340,30 420,70 520,50 C620,30 700,80 800,60 C900,40 1000,70 1100,40 C1200,20 1300,60 1440,50 L1440,100 L0,100 Z'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.footer-bottom p {
  font-size: 16px;
  color: white;
  font-family: var(--roboto-font);
}

.footer-cloud {
  position: absolute;
  bottom: 40px; 
  width: 220px; 
  height: 130px;
  z-index: 5;
}

.cloud-left {
  left: 100px;
  transform: rotate(-10deg);
}

.cloud-right {
  right: 100px;
  transform: rotate(10deg);
}

.footer-contact a{
  text-decoration: none;
  color: #fff;
}
